.review {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: #eb8046;
  color: white;
  padding: 70px 70px 25px;
}

.review__title {
  margin: 0 auto 100px;
  width: 100%;
  text-align: center;

  font-size: 3em;
}

.review__content {
  margin: 0 auto;
  width: 60%;

  font-size: 1.9em;
}

.review__text-container {
  width: 100%;
  padding: 50px 0;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
}

.review__text {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.review__author {
  margin: 25px auto 0;
  text-align: center;
}

.review__footer {
  margin: 100px auto 0;
  text-align: center;
  font-size: 1.1em;
}

.review__arrow-b,
.review__arrow-f {
  font-size: 5em;
  position: absolute;

  cursor: pointer;

  transition: 0.3s;
}

.review__arrow-b {
  top: 50%;
  left: 10%;

  transform: translateY(-50%);
}

.review__arrow-f {
  top: 50%;
  right: 10%;

  transform: translateY(-50%);
}

.review__arrow-b:hover {
  transform: translate(-5px, -50%);
}

.review__arrow-f:hover {
  transform: translate(5px, -50%);
}
