.review {
  box-sizing: border-box;
  width: 100%;
  background-color: #eb8046;
  color: white;
  padding: 70px 70px 25px;
}

.review__title {
  margin: 0 auto 100px;
  width: 100%;
  text-align: center;

  font-size: 3em;
}

.review__content {
  margin: 0 auto;
  width: 60%;

  font-size: 1.9em;
}

.review__text-container {
  width: 100%;
  padding: 50px 0;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
}

.review__text {
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.review__author {
  margin: 25px auto 0;
  text-align: center;
}

.review__footer {
  margin: 100px auto 0;
  text-align: center;
  font-size: 1.1em;
}
