.footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #2a2a2a;
  color: white;
  padding: 50px;
}

.footer__top {
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2em;
}

.footer__title,
.footer__contact-info,
.footer__social-content {
  margin: 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.4em;
}

.footer__social {
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__social-icon {
  margin: 0;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;

  transition: 0.2s;
}

.footer__contact {
  text-align: end;

  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

.footer__contact-info {
  width: fit-content;
}

.footer__contact-link {
  color: #eb8046;
  text-decoration: none;
}

.footer__social-text::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 0.3s;
}

.footer__contact-link::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #eb8046;
  transition: 0.3s;
}

.footer__contact-info:hover .footer__contact-link::after {
  width: 100%;
}

.footer__social-content:hover .footer__social-text::after {
  width: 100%;
}
