.menu {
  background-color: #2a2a2a;
  margin: 0;
  padding: 80px 80px 25px;
  color: white;
}

.menu__title {
  text-transform: uppercase;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  font-size: 3em;
}

/* Nav Section Starts */

.menu__nav {
  margin-bottom: 100px;
  width: 100%;
  list-style: none;
  text-align: center;
  font-size: 1.25em;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.menu__nav-text,
.menu__nav-checkbox,
.menu__nav-checkbox-checked,
.menu__nav-checkbox-inner,
.menu__nav-checkbox-inner_visible,
.menu__nav-text::after {
  pointer-events: none;
}

.menu__nav-item {
  display: flex;
  gap: 10px;
  align-items: center;

  cursor: pointer;
}

.menu__nav-checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid white;

  transition: 0.3s;
}

.menu__nav-checkbox-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #eb8046;
}

.menu__nav-checkbox-inner {
  opacity: 0;

  transition: 0.3s;
}

.menu__nav-checkbox-inner_visible {
  opacity: 1;
  width: 20px;
  height: 20px;
  background-color: #eb8046;
}

.menu__nav-text::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 0.3s;
}

.menu__nav-item:hover .menu__nav-checkbox {
  transform: scale(1.2);
}

.menu__nav-item:hover .menu__nav-text::after {
  width: 100%;
}

/* Nav Section Ends */

/* Menu Content Section Starts */

.menu__content {
  margin: 0 auto 40px;
  width: 100%;
}

.menu__list {
  margin: 0 0 90px;
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 100px;
  column-gap: 50px;
  flex-wrap: wrap;
}

.menu__spacer {
  margin: 10px 0;
  width: 100%;
  height: 3px;
  background-color: #eb8046;
}

.menu__item {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.menu__item-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.3em;
}

.menu__item-name,
.menu__item-price,
.menu__item-description {
  margin: 0;
}

.menu__item-footer {
  font-size: 1em;
}

.menu__veggie-sign {
  width: 25px;
  height: 25px;
}

/* Menu Content Section Ends */

.menu__footer {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.menu__footer-text {
  margin: 0;
  width: 275px;
}

.menu__footer-text_center {
  margin: 0;
}

.menu__halal-sign {
  right: 5%;
  bottom: 5%;

  width: 275px;
  height: 275px;

  transform: rotate(-10deg);
}
